back/booster-service/src/app/wsdl/myservice.wsdl

<!--  
TeamA
2020-10-07
let you post/retrieve online message by SOAP protocol

Online WSDL 1.1 SOAP generator 0.2
Julien Blitte
  -->
<definitions xmlns:tns="fr.teamA.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/" name="let you post/retrieve online message by SOAP protocol"
             targetNamespace="fr.teamA.wsdl">
    <!--  definition of datatypes  -->
    <types>
        <schema xmlns="http://www.w3.org/2000/10/XMLSchema" targetNamespace="fr.teamA.xsd">
            <element name="text">
                <complexType>
                    <all>
                        <element name="value" type="string"/>
                    </all>
                </complexType>
            </element>
            <element name="void">
                <complexType>
                    <sequence/>
                </complexType>
            </element>
        </schema>
    </types>
    <!--  response messages  -->
    <message name="returns_text">
        <part name="text" type="xsd:text"/>
    </message>
    <!--  request messages  -->
    <message name="launchBooster">
        <part name="void" type="xsd:void"/>
    </message>
    <message name="destroy">
        <part name="void" type="xsd:void"/>
    </message>
    <!--  server's services  -->
    <portType name="booster">
        <operation name="launchBooster">
            <input message="tns:launchBooster"/>
            <output message="tns:returns_text"/>
        </operation>
        <operation name="destroy">
            <input message="tns:destroy"/>
            <output message="tns:returns_text"/>
        </operation>
    </portType>
    <!--  server encoding  -->
    <binding name="booster_webservices" type="tns:booster">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="launchBooster">
            <soap:operation soapAction="urn:xmethods-delayed-quotes#launchBooster"/>
            <input>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="destroy">
            <soap:operation soapAction="urn:xmethods-delayed-quotes#destroy"/>
            <input>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>
    <!--  access to service provider  -->
    <service name="booster">
        <port name="booster_0" binding="booster_webservices">
            <soap:address location="http://127.0.0.1:3004/wsdl?wsdl"/>
        </port>
    </service>
</definitions>