back/rocket-service/src/app/wsdl/myservice.wsdl

<!--  
TeamA
2020-10-04
let you post/retrieve online message by SOAP protocol
​
Online WSDL 1.1 SOAP generator 0.2
Julien Blitte
  -->
<definitions xmlns:tns="us.world_corp.my_soap_forum.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="us.world_corp.my_soap_forum.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="let you post/retrieve online message by SOAP protocol" targetNamespace="us.world_corp.my_soap_forum.wsdl">
    <!--  definition of datatypes  -->
    <types>
        <schema xmlns="http://www.w3.org/2000/10/XMLSchema" targetNamespace="us.world_corp.my_soap_forum.xsd">
            <element name="text">
                <complexType>
                    <all>
                        <element name="value" type="string"/>
                    </all>
                </complexType>
            </element>
            <element name="void">
                <complexType>
                    <sequence/>
                </complexType>
            </element>
        </schema>
    </types>
    <!--  response messages  -->
    <message name="returns_text">
        <part name="text" type="xsd:text"/>
    </message>
    <!--  request messages  -->
    <message name="destroy">
        <part name="void" type="xsd:void"/>
    </message>
    <message name="notifyLaunch">
        <part name="void" type="xsd:void"/>
    </message>
    <message name="notifyBoosterDetachment">
        <part name="void" type="xsd:void"/>
    </message>
    <!--  server's services  -->
    <portType name="my SOAP">
        <operation name="destroy">
            <input message="tns:destroy"/>
            <output message="tns:returns_text"/>
        </operation>
        <operation name="notifyLaunch">
            <input message="tns:notifyLaunch"/>
            <output message="tns:returns_text"/>
        </operation>
        <operation name="notifyBoosterDetachment">
            <input message="tns:notifyBoosterDetachment"/>
            <output message="tns:returns_text"/>
        </operation>
    </portType>
    <!--  server encoding  -->
    <binding name="my SOAP_webservices" type="tns:my SOAP">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="destroy">
            <soap:operation soapAction="urn:xmethods-delayed-quotes#destroy"/>
            <input>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="notifyLaunch">
            <soap:operation soapAction="urn:xmethods-delayed-quotes#notifyLaunch"/>
            <input>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="notifyBoosterDetachment">
            <soap:operation soapAction="urn:xmethods-delayed-quotes#notifyBoosterDetachment"/>
            <input>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>
    <!--  access to service provider  -->
    <service name="exemple">
        <port name="exemple_0" binding="my SOAP_webservices">
            <soap:address location="http://127.0.0.1./test_soap/endpoint1.php"/>
        </port>
        <port name="exemple_1" binding="my SOAP_webservices">
            <soap:address location="http://127.0.0.1./test_soap/endpoint2.php"/>
        </port>
    </service>
</definitions>