back/rocket-service/src/app/wsdl/myservice.wsdl

<!--  
TeamA
2020-10-04
let you post/retrieve online message by SOAP protocol
​
Online WSDL 1.1 SOAP generator 0.2
Julien Blitte
  -->
<definitions xmlns:tns="fr.teama.rocket.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="fr.teama.rocket.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="let you post/retrieve online message by SOAP protocol" targetNamespace="fr.teama.rocket.wsdl">
    <!--  definition of datatypes  -->
    <types>
        <schema xmlns="http://www.w3.org/2000/10/XMLSchema" targetNamespace="fr.teama.rocket.xsd">
            <element name="text">
                <complexType>
                    <all>
                        <element name="value" type="string"/>
                    </all>
                </complexType>
            </element>
            <element name="void">
                <complexType>
                    <sequence/>
                </complexType>
            </element>
        </schema>
    </types>
    <!--  response messages  -->
    <message name="returns_text">
        <part name="text" type="xsd:text"/>
    </message>
    <!--  request messages  -->
    <message name="launch">
        <part name="void" type="xsd:void"/>
    </message>
    <message name="stageRocketMidFlight">
        <part name="void" type="xsd:void"/>
    </message>
    <message name="deliverPayload">
        <part name="void" type="xsd:void"/>
    </message>
    <!--  server's services  -->
    <portType name="rocket">
        <operation name="launch">
            <input message="tns:launch"/>
            <output message="tns:returns_text"/>
        </operation>
        <operation name="stageRocketMidFlight">
            <input message="tns:stageRocketMidFlight"/>
            <output message="tns:returns_text"/>
        </operation>
        <operation name="deliverPayload">
            <input message="tns:deliverPayload"/>
            <output message="tns:returns_text"/>
        </operation>
    </portType>
    <!--  server encoding  -->
    <binding name="rocket_webservices" type="tns:rocket">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="launch">
            <soap:operation soapAction="urn:xmethods-delayed-quotes#launch"/>
            <input>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="stageRocketMidFlight">
            <soap:operation soapAction="urn:xmethods-delayed-quotes#stageRocketMidFlight"/>
            <input>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="deliverPayload">
            <soap:operation soapAction="urn:xmethods-delayed-quotes#deliverPayload"/>
            <input>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>
    <!--  access to service provider  -->
    <service name="rocket">
        <port name="rocket_0" binding="rocket_webservices">
            <soap:address location="http://localhost:3000/wsdl?wsdl"/>
        </port>
    </service>
</definitions>